
.quiz {
  grid-template-rows: 3.5rem 3.5rem auto;
}

.quiz-title {
  grid-area: filter;
  position: fixed;
  display: flex;
  top: 3.5rem;
  left: 0;
  width: 100%;
  z-index: 50;
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  height: 3.5rem;
  justify-content: space-evenly;
  background: white;
}

.js-logo {
  z-index: 50;
  margin-top: 20px;
  position: fixed;
  display: flex;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.top{
 text-align: center;
 font-display: auto;
 font-size: x-large;
 color:rgb(69, 101, 29);
 margin: 10px;
}

.result{
  text-align: center;
  color: rgb(69, 101, 29);
  font-size: x-large; 
  margin-bottom: 10px;
  display:none;
}

.quizForm{
  background-color: antiquewhite;
  font-size: 20px;
  padding: 45px;

}
p{
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-center{}
  
.center{
  margin-top: 10px;
}

.popup-wrapper{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.popup{
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 150px auto;
  padding: 20px;
  background: white;
  position: relative;
  display: block;
}
  
.fail{
  border: 2px solid green;

}
.pass{
  border:2px red ;

}

.leaderboard {
  display: none;
  color: rgb(69, 101, 29);
  font-size: x-large;
  margin: auto;
  text-align: center;
  width: 350px;
  padding: 10px;
  border: 5px solid rgb(69, 101, 29);
}

td {
  width: 180px;
}
/* 
tr {
  border-bottom: 1px solid rgb(69, 101, 29);
} */
